<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.liquid %}
  <body class="line-numbers">
    {% include header.liquid %}
    <main>
      {% include page_title.liquid %}
      <div class="container">
        <div class="row mb-4">
          <section class="vstack gap-4 col col-sm-8">
            <div class="card bg-white">
              <div class="card-body">{{ content }}</div>
              {% if page.previous.url or page.next.url %}
                <div class="card-footer">
                  <nav aria-label="Post navigation">
                    <ul
                      class="pagination pagination-sm justify-content-between mb-0"
                    >
                      {% if page.previous.url %}
                        <li class="page-item">
                          <a
                            class="page-link border-0 bg-transparent"
                            aria-label="Previous"
                            href="{{page.previous.url}}"
                          >
                            <span aria-hidden="true">&laquo;</span>
                            {{ page.previous.title }}
                          </a>
                        </li>
                      {% endif %}
                      {% if page.next.url %}
                        <li class="page-item">
                          <a
                            class="page-link border-0 bg-transparent"
                            aria-label="Next"
                            href="{{page.next.url}}"
                          >
                            {{ page.next.title }}
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
              {% endif %}
            </div>
          </section>
          <aside class="col col-sm-4">
            {% if page.resources != null %}
              {% include resources.liquid %}
            {% endif %}
          </aside>
        </div>
      </div>
    </main>
    {% include footer.liquid %}
  </body>
</html>
